* {
    padding: 0;
    margin: 0;
}

@font-face {
    src: url(./fonte/Besley-Italic.ttf);
    font-family: 'Besley-italic';
}

header h1 {
    font-family: Besley-italic;
}

header img {
    width: 256px;
    height: 256px;
}

.logo {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.nav {
    background-color: #C1B4AC ;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 50px; */
    width: 100vw;
}

.nav a {
    background-color: #C1B4AC;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    color: black;
}

.nav a:hover {
    background-color: #8A6F5F;
}

.nav a:active {
    background-color: #582E17;
    color: white;
}

.imagemPrincipal {
    height: 40vh;
    background-color: tomato;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu a {
    border: 2px solid white;
    background-color: rgb(219, 184, 171);
    text-decoration: none;
    color: black;
    padding: 25px;
}

.conteudo {
    background-color: #ffffff;
    padding: 7px;
    text-align: justify;
    }

.container {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 10vh 1fr 10vh;
    justify-items: center;
    align-items: center;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 30vw 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    width: 98vw;
}

/* Footer  */

footer {
    background-color: #C1B4AC;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
}

/* Ícones das redes sociais  */

footer img {
    height: 25px;
    width: 25px;
    margin: 8px;
}

/* breakpoint para celulares */
@media screen and (min-device-width : 320px) and (max-device-width : 414px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50vh;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo img {
        height: 168px;
        width: 168px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logo h1 {
        font-size: 20px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25vh 10vh 1fr 10vh;
        justify-items: center;
        align-items: center;
        width: 95vw;
    }

    footer {
        align-self: end;
    }
}