/* Root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* Importar fonte do título */
@font-face {
    src: url(./fonte/Besley-Italic.ttf);
    font-family: 'Besley-italic';
}

/* Body total da página */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* h1 do header */
header h1 {
    font-family: Besley-italic;
}

/* Logotipo: imagem */
header img {
    width: 256px;
    height: 256px;
}

/* div do logotipo */
.logo {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Barra de navegação */
.nav {
    background-color: #C1B4AC ;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    width: 100vw;
}

/* Links da nav */
.nav a {
    background-color: #C1B4AC;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    color: black;
}

/* Mouse em cima dos links da nav */
.nav a:hover {
    background-color: #8A6F5F;
    border-radius:50%;
    transition: 300ms;
    color: #e6d6cc;
}

/* Mouse clicando em cima dos links da nav */
.nav a:active {
    background-color: #582E17;
    color: white;
}

/* Menu lateral */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Links do menu lateral */
.menu a {
    border: 2px solid white;
    background-color: rgb(219, 184, 171);
    text-decoration: none;
    color: black;
    padding: 25px;
}

/* Efeito super maneirão dos links do menu lateral */
.menu a:hover {
    -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes tada {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  10%, 20% {
  -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes tada {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  10%, 20% {
  -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
}

/* div do conteúdo principal */
.conteudo {
    background-color: #ffffff;
    padding: 7px;
    text-align: center;
}

/* h2 do conteúdo principal */
.conteudo>h2 {
    text-align: center;
}

/* Imagens do conteúdo principal */
.proposito {
    width: 40%;
    height: 45%;
    border-radius: 50%;
}

/* Parágrafo do conteúdo principal */
.texto {
    text-align: justify;
    text-indent: 4em;
}

/* Negrito do conteúdo principal */
.texto>b{
    border-bottom: 1px dotted black;
}

/* Mouse sobre o negrito no conteúdo principal */
.texto>b:hover {
    cursor: help;
}

/* Legenda cinza das imagens */
.legenda-mini {
    text-align: center;
    color: gray;
    font-size: small;
}

/* Container do layout */
.container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

/* Grid principal */
main {
    display: grid;
    grid-template-columns: 30vw 1fr;
    grid-template-rows: 1fr;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    gap: 10px;
    width: 98vw;
}

/* Footer  */
footer {
    background-color: #C1B4AC;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
    left: 0;
    right: 0;
    position: sticky;
    flex-direction: row;
}

/* Ícones das redes sociais  */
footer img {
    height: 25px;
    width: 25px;
    margin: 8px;
}
