/* CSS DESKTOP */

/* dados raiz - Root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte do título */
@font-face {
    src: url(./fontes/Besley-Italic.ttf);
    font-family: 'Besley-italic';
}

/* Fonte normal */
@font-face {
    src: url(/fontes/Comfortaa-Regular.ttf);
    font-family: 'Comfortaa-Regular';
}

/* Fonte em negrito do footer */
@font-face {
    src: url(/fontes/Comfortaa-SemiBold.ttf);
    font-family: 'Comfortaa-SemiBold';
}

/* Corpo da página */
body {
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns:  100vw 1fr;
    font-family: 'Comfortaa-Regular';
    background-color: #C1B4AC;
}

/* Cursor dos links */
a {
    cursor: alias;
}

/* Barra de navegação */
.navbar {
    margin-right: 10px;
}

/* Links da navbar */
.navbar a {
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    color: #582E17;
}

/* Mouse sobre navbar */
.navbar a:hover {
    background-color: #8A6F5F;
    border-radius:50%;
    transition: 300ms;
    color: #e6d6cc;
}

/* Clicando na navbar */
.navbar a:active {
    background-color: #582E17;
    color: white;
}

/* Logotipo e título principal */
.icone-e-texto {
    display: flex;
    align-items: center;
    font-family: 'Besley-italic';
    color: #582E17;
}

/* ícone de smartphone */
.mao-smartphone {
    width: 30px;
    height: 30px;
}

/* Logotipo 4food */
.icone {
    height: 130px;
    width: 130px;
}

/* Header da página */
header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 130px;
    align-items: center;
    margin-top: 0px;
    grid-column: 1/-1;
}

/* Container total */
.container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

/* Container secundário */
.container-secundario {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 100%;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: top;
    width: 15vw;
}

/* Negrito do menu */
.menu b {
    background-color: white;
    color: #582E17;
    border-radius: 50%;
    padding: 5px;
    font-family: 'Besley-italic';
    font-size: larger;
}

/* Imagem do menu */
.menu img {
    width: 80px;
    height: 80px;
}

/* Box de conteúdo principal */
.conteudo {
    background-color: #ffffff;
    padding: 10px;
    width: 55vw;
}

/* Grid do menu e da box de conteúdo principal */
main {
    display: grid;
    grid-template-columns: repeat(2, 1fr 1fr);
    grid-template-rows: 1fr;
    gap: 40px;
    margin: 50px;
}

/* h2 do conteúdo principal */
.conteudo>h2 {
    text-align: center;
}

/* Imagens do conteúdo principal */
.proposito {
    width: 40%;
    height: 45%;
}


/* Parágrafo do conteúdo principal */
.texto {
    text-align: justify;
    text-indent: 4em;
}

/* Negrito do conteúdo principal */
.texto>b{
    border-bottom: 1px dotted black;
}

/* Mouse sobre o negrito no conteúdo principal */
.texto>b:hover {
    cursor: help;
}

/* Legenda cinza das imagens */
.legenda-mini {
    text-align: center;
    color: gray;
    font-size: small;
}

/* Footer */
footer {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: white;
    grid-column: 1/-1;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    font-family: 'Comfortaa-SemiBold';
    color: #582E17;
    border-top: 1px solid #C1B4AC;
}

/* Imagens do footer */
footer img {
    width: 30px;
    height: 30px;
}

/* Alinhamento do footer */
.alinha-footer {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Contorno do formulário */
fieldset {
    border-color: #582E17;
}

/* Alinhamento do botão enviar */
.alinha-enviar {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Alinhamento do formulário */
#enviando {
    text-align: center;
    margin-top: 10px;
}


/* -------- */

    
/* CSS Mobile  */
@media screen and (min-device-width: 200px) and (max-device-width: 667px) {
/* dados raiz - Root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte do título */
@font-face {
    src: url(./fontes/Besley-Italic.ttf);
    font-family: 'Besley-italic';
}

/* Fonte normal */
@font-face {
    src: url(/fontes/Comfortaa-Regular.ttf);
    font-family: 'Comfortaa-Regular';
}

/* Fonte em negrito do footer */
@font-face {
    src: url(/fontes/Comfortaa-SemiBold.ttf);
    font-family: 'Comfortaa-SemiBold';
}

/* Corpo da página */
body {
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns:  100vw 1fr;
    font-family: 'Comfortaa-Regular';
    background-color: #C1B4AC;
}

/* Barra de navegação */
.navbar {
    margin-right: 10px;
    text-align: right;
    font-size: smaller;
}

/* Links da navbar */
.navbar a {
    padding: 5px;
    margin: 3px;
    text-align: end;
    text-decoration: none;
    color: #582E17;
    justify-content: safe;
}

/* Logotipo e título principal */
.icone-e-texto {
    display: flex;
    align-items: center;
    font-family: 'Besley-italic';
    color: #582E17;
    font-size: 0.7em;
    line-height: 15px;
}

/* ícone de smartphone */
.mao-smartphone {
    width: 20px;
    height: 20px;
}

/* Logotipo 4food */
.icone {
    height: 100px;
    width: 100px;
}

/* Header da página */
header {
    display: flex;
    background-color: white;
    height: 100px;
    margin-top: 0;
    grid-column: 1/-1;
}

/* Container total */
.container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

/* Container secundário */
.container-secundario {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 100%;
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: top;
    width: 90vw;
}

/* Negrito do menu */
.menu b {
    background-color: white;
    color: #582E17;
    border-radius: 50%;
    font-family: 'Besley-italic';
    font-size: larger;
}

/* Imagem do menu */
.menu img {
    width: 80px;
    height: 80px;
}

/* Box de conteúdo principal */
.conteudo {
    background-color: #ffffff;
    padding: 5px;
    width: 90vw;
}

/* Grid do menu e da box de conteúdo principal */
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 25px 20px;
    grid-template-rows: 80vh;
}

/* h2 do conteúdo principal */
.conteudo>h2 {
    text-align: center;
}

/* Imagens do conteúdo principal */
.proposito {
    width: 50%;
    height: 65%;
}


/* Parágrafo do conteúdo principal */
.texto {
    text-align: justify;
    text-indent: 2em;
}

/* Negrito do conteúdo principal */
.texto>b{
    border-bottom: 1px dotted black;
}

/* Legenda cinza das imagens */
.legenda-mini {
    text-align: center;
    color: gray;
    font-size: small;
}

/* Imagens do footer */
footer img {
    width: 30px;
    height: 30px;
}

/* Alinhamento do footer */
.alinha-footer {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Contorno do formulário */
fieldset {
    border-color: #582E17;
}

/* Alinhamento do botão enviar */
.alinha-enviar {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Alinhamento do formulário */
#enviando {
    text-align: center;
    margin-top: 10px;
}

/* Footer */
    footer {
        align-self: end;
    }
}